@using RemoteBackupsApp.Domain.ViewModels.User;
@using RemoteBackupsApp.Infrastructure.Services.Interfaces;
@inject IUserContext userContext;

@{
    string userName = string.Empty;
    bool isLogIn = await userContext.IsUserLogIn();

    if (isLogIn)
    {
        var user = await userContext.GetUser();
        userName = user.UserName;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RemoteBackupsApp.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RemoteBackupsApp.MVC.styles.css" asp-append-version="true" />
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <div class="account-section">
        @if (isLogIn)
        {
            <h3>Welcome @userName !!!</h3>
            <a asp-controller="Auth" asp-action="LogOut" asp-route-userName="@userName" class="btn btn-primary">Wyloguj</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Register" class="btn btn-primary">Rejestracja</a>
            <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Logowanie</a>
        }
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
