<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RemoteBackupsApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RemoteBackupsApp.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    <script>
        let connection = new signalR.HubConnectionBuilder()
            .withUrl("/uploadHub")
            .build();

        connection.on("UploadSuccess", function () {
            
        })

        connection.on("ProgressUpdated", function (data) {
            let $progressBar = $("#process-" + data.processId);
            if ($progressBar.length === 0) return;

            $progressBar.css("width", data.percentage + "%");

            $progressBar.attr("aria-valuenow", data.percentage);

            $progressBar.text(data.percentage.toFixed(2) + "%");

            $progressBar.removeClass("bg-success bg-info bg-danger");
            if (data.status === "Completed") {
                $progressBar.addClass("bg-success");
                
                let $progressStatus = $("#progress-status-"+data.processId);
                $progressStatus.removeClass("bg-secondary bg-primary").addClass("bg-success");
                $progressStatus.text("Completed");

                let $progressCompleteDate = $("#progress-completed-" + data.processId);
                let completedAt = new Date(data.date);
                $progressCompleteDate.text(completedAt.toISOString().slice(0, 16).replace("T", " "));

            } else if (data.status === "Failed") { 
                $progressBar.addClass("bg-danger");
                $progressBar.text("Failed");
            }
            else {
                $progressBar.addClass("bg-info");
            }
        });
        
        connection.start()
            .then(() => console.log("SignalR connected"))
            .catch(err => console.error(err));
    </script>
</body>
</html>
