@model RemoteBackupsApp.Domain.ViewModels.Authentication.LoginViewModel


<h3>Logowanie</h3>

<form method="POST" asp-controller="Auth" asp-action="Login">
    <div class="mb-3">
        <label for="UserName" class="form-label">Nazwa użytkownika</label>
        <input type="text" class="form-control" name="UserName" placeholder="Wprowadź nazwę użytkownika" required>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Hasło</label>
        <input type="Password" class="form-control" name="Password" placeholder="Wprowadź hasło" required>
    </div>
    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
</form>